<div id="logo" class="my-4 px-6">
    <h1 class="text-lg md:text-2xl font-bold text-white">Express Travel <span class="text-blue-500">++</span>.</h1>
    <p class="text-slate-500 text-sm">Centro informativo y de servicios</p>
</div>
<div id="profile" class="px-6 py-10">
    <p class="text-slate-500">A bordo:</p>
    <a routerLink="/dashboard" class="inline-flex space-x-2 items-center">
        <span>
            <img class="rounded-full w-8 h-8 object-cover"
                src="https://images.unsplash.com/photo-1574113230879-84d1bb15d277?q=80&w=128&h=128&fit=crop&auto=format"
                alt="Tren con la puerta abierta" />
        </span>
        <span class="text-sm md:text-base font-bold">
            Viajer@
        </span>
    </a>
</div>